
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.control-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 10px;
}

.control-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.control-button:hover {
    color: lightgray;
}

.selected {
    opacity: 50%;
    border: 3px solid red;
}
